<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Social App</title>
</head>
<body>
  <p>this is my where you would navigate</p>
  <app-navbar></app-navbar>
  <p>This is also Home</p>
  <app-home></app-home>
  <p>And Friends</p>
  <app-friends></app-friends>
  <p>and my all together it's my profile</p>
  <app-my-profile></app-my-profile>

</body>
</html>
